<html>
<head>
  <!--todo: title??-->
  <title>Hello RAILS</title>
</head>
<body>
<h1>Hello Rails</h1>
<h3>It is now <%= @time %></h3>
<p>
  Say <%= link_to 'Goodbye', say_goodbye_path %>
</p>
<% @files = Dir.glob '*' %>
<p>Files in dir: </p>
<ul>
  <% @files.each do |f| %>
      <li><%= f %></li>
  <% end %>
</ul>
<p>Time in one hour<%= 1.hour.from_now.localtime %></p>
</body>
</html>
