<html>
<head>
  <!--todo: title??-->
  <title>Hello RAILS</title>
</head>
<body>
<h1>Hello Rails</h1>
<h3>It is now <%= @time %></h3>
<p>
  Say <a href="/say/goodbye">Goodbye</a>!
</p>
</body>
</html>
